/* selector universal */
*{
    margin: 0;
    padding: 0;
}

body{
    padding: 10px;
    background-color: green;
}
.container{

    width: 95%;
    border: 5px solid #000;
    border-radius: 20px;
    padding: 10px;
    /* sombra */
    box-shadow: 0 0 10px #adff2f;
    display: flex;
    /* Asigna los valores al reves */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    justify-content: center;
    /* justify-content: start; */
    /* justify-content: space-evenly; */
    /* La justificacion del contenido, de manera horizontal me centra el contenido */

    height: 200px;
    align-items: center;
    /* se alinea vertical, el mas comun es center en ambos */

    

}

.element{
    background-color: aqua;
    height: 50px;
    width: 20%;
    color: blueviolet;
    font-size: 30PX;
    font-weight: 700;
    border: 2px solid #000000;
    margin: 5px;
    text-align: center;
}

#one{
    background-color: #adff2f;
    order: 3;
}

#two{
    background-color: bisque;
    order: 1;
}

#tree{
    order: 2;
}

@media screen and (max-width: 1200px){
    body{
        background-color: red;
    }
    .element{
        border: 5px solid greenyellow;
    }
}
@media screen and (max-width: 1200px){
    body{
        background-color: rgb(111, 0, 255);
    }
    .element{
        border: 5px solid rgb(235, 77, 71);
    }
}